*{
  color: #FF5733;
  text-align: left;
  list-style-type:none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.inicio{
  padding: 5% 0 0 10%;
}

.inputText{
  background-color: #FF5733;
  color: #fff;
  padding:5px;
  border-bottom-right-radius: 5px;
  cursor:grab;
  border-top-right-radius: 5px;
}

input{
  border: none;
  background-color: #fff;
  border: 3px solid #FF5733;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 270px;
}

.notas{
  margin-top: 30px;
}

.notas .nota{
  border: 3px solid #FF5733;
  border-radius: 5px;
  width: 350px;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.notas a{
  text-decoration: none;
}

.conjunto{
  flex-wrap: wrap;  
}