*{
  color: #FF5733;
  text-align: left;
  list-style-type:none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.inicio{
  padding: 5% 10% 0 10%;
}

.inputText{
  background-color: #FF5733;
  color: #fff;
  padding:5px;
  border-bottom-right-radius: 5px;
  cursor:grab;
  border-top-right-radius: 5px;
}

input{
  border: none;
  background-color: #fff;
  border: 3px solid #FF5733;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 270px;
}

.notas{
  margin-top: 30px;
}

.notas .nota{
  border: 3px solid #FF5733;
  border-radius: 5px;
  width: 350px;
  padding: 10px;
  margin-bottom: 10px;
}

.notas a{
  text-decoration: none;
}

p{
  font-size: 14px;
}

.menu{
  background-color: #FF5733;
  position: fixed;
  top: 0;
  left: 0;
  width: 2000px;
  height: 80px;
}

.notasAll .nota,
.notasAll p{
  background-color: #FF5733;
  color: #fff;
  margin-left: 10px;
}

.notasAll {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}